@import url("https://fontsapi.zeoseven.com/13/main/result.css");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: green;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Smiley Sans Oblique";
  --font-mono: "Cascadia Next SC";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "WenYuan Sans SC VF";
  font-weight: normal;
}
